Cliente/Connected Services/ReferenciaRemota/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62441/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="LeerCargo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LeerCargoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="LeerCargoResult" nillable="true" type="q1:ArrayOfCargo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeerTitulo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LeerTituloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="LeerTituloResult" nillable="true" type="q2:ArrayOfTitulo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeerProvincia">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LeerProvinciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="LeerProvinciaResult" nillable="true" type="q3:ArrayOfProvincia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeerContacto">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LeerContactoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="LeerContactoResult" nillable="true" type="q4:ArrayOfContacto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeerOrganizacion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LeerOrganizacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="LeerOrganizacionResult" nillable="true" type="q5:ArrayOfOrganizacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeerCategoriaCorreo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LeerCategoriaCorreoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="LeerCategoriaCorreoResult" nillable="true" type="q6:ArrayOfCategoriaCorreo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeerGrupoCosto">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LeerGrupoCostoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="LeerGrupoCostoResult" nillable="true" type="q7:ArrayOfGrupoCostos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarContacto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCargo" type="xs:int" />
        <xs:element minOccurs="0" name="idTitulo" type="xs:int" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apellido" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numCedula" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numTelefonico" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="celular" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarContactoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarOrganizacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreOrg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="direccionOrg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoPostal" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ciudadOrg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idProvincia" type="xs:int" />
        <xs:element minOccurs="0" name="telefonoOrg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="correoOrg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sitioWebOrg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarOrganizacionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarProvincia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreProvincia" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarProvinciaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarCargo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreCargo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarCargoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarCategoriaCorreo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreCategoriaCorreo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarCategoriaCorreoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarGrupoCosto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreGrupoCostos" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarGrupoCostoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarTitulo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreTitulo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarTituloResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarContacto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idContacto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarContactoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarOrganizacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idOrganizacion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarOrganizacionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarProvincia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idProvincia" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarProvinciaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarCargo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCargo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarCargoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarCategoriaCorreo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCategoriaCorreo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarCategoriaCorreoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarGrupoCosto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idGrupoCosto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarGrupoCostoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarTitulo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTitulo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarTituloResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarContacto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numCedula" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarContactoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="BuscarContactoResult" nillable="true" type="q8:Contacto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarOrganizacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idOrganizacion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarOrganizacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="BuscarOrganizacionResult" nillable="true" type="q9:Organizacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarOrg_Nombre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreOrg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarOrg_NombreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="BuscarOrg_NombreResult" nillable="true" type="q10:Organizacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarOrg_Direccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="direccionOrg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarOrg_DireccionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="BuscarOrg_DireccionResult" nillable="true" type="q11:Organizacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarProvincia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreProvincia" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarProvinciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="BuscarProvinciaResult" nillable="true" type="q12:Provincia" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCargo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreCargo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCargoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="BuscarCargoResult" nillable="true" type="q13:Cargo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCategoriaCorreo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreCategoriaCorreo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarCategoriaCorreoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="BuscarCategoriaCorreoResult" nillable="true" type="q14:CategoriaCorreo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarGrupoCosto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreGrupoCosto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarGrupoCostoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="BuscarGrupoCostoResult" nillable="true" type="q15:GrupoCostos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarTitulo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombreTitulo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarTituloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="BuscarTituloResult" nillable="true" type="q16:Titulo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarContacto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idContacto" type="xs:int" />
        <xs:element minOccurs="0" name="idCargo" type="xs:int" />
        <xs:element minOccurs="0" name="idTitulo" type="xs:int" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apellido" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numCedula" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numTelefonico" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="celular" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarContactoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarOrganizacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idOrganizacion" type="xs:int" />
        <xs:element minOccurs="0" name="nombreOrg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="direccionOrg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoPostal" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ciudadOrg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idProvincia" type="xs:int" />
        <xs:element minOccurs="0" name="telefonoOrg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="correoOrg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sitioWebOrg" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarOrganizacionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarProvincia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idProvincia" type="xs:int" />
        <xs:element minOccurs="0" name="nombreProvincia" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarProvinciaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarCargo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCargo" type="xs:int" />
        <xs:element minOccurs="0" name="nombreCargo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarCargoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarCategoriaCorreo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCategoriaCorreo" type="xs:int" />
        <xs:element minOccurs="0" name="nombreCategoriaCorreo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarCategoriaCorreoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarGrupoCosto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idGrupoCosto" type="xs:int" />
        <xs:element minOccurs="0" name="nombreGrupoCosto" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarGrupoCostoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarTitulo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTitulo" type="xs:int" />
        <xs:element minOccurs="0" name="nombreTitulo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarTituloResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>